[user]
	name = Guilhermesm86
	email = 50645483+Guilhermesm86@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
